{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "plugins": [
    "chai-expect",
    "chai-friendly"
  ],
  "rules": {
    "indent": [1, 2, {
      "SwitchCase": 1
    }],
    "no-underscore-dangle": [ "error",{
      "allowAfterThis": true
    }],
    "prefer-const": 1,
    "complexity": [ 1, 5 ],
    "jsx-a11y/href-no-hash": 0,
    "chai-expect/missing-assertion": 1,
    "chai-expect/terminating-properties": 1,
    "chai-expect/no-inner-compare": 1,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}
